body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 1rem;
  color: white;
}

.navbar-heading {
  font-size: 2rem;
  cursor: pointer;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.navbar-links {
  font-size: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar-links li {
  margin-left: 1.5rem;
}

.navbar-links a,
.navbar-heading a {
  color: white;
  text-decoration: none;
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.navbar-toggle span {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: all 0.3s ease;
}

.navbar-menu.active .navbar-toggle span:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.navbar-menu.active .navbar-toggle span:nth-child(2) {
  opacity: 0;
}

.navbar-menu.active .navbar-toggle span:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

@media (max-width: 768px) {
  .navbar-links {
    font-size: 1rem;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #333;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }

  .navbar-heading {
    font-size: 1.5rem;
  }

  .navbar-links li {
    margin: 0;
    text-align: center;
    padding: 1rem;
  }

  .navbar-toggle {
    display: flex;
  }

  .navbar-menu.active .navbar-links {
    max-height: 500px;
  }
}
